@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WhiskAway</h1>
    <i><p>Where divine delights, whisk your taste buds away.</p></i>
</div>

@{
    var items = new List<(string Title, string ImgUrl)>
    {
        ("CAKES", "~/images/cakes.jpg"),
        ("MUFFINS", "~/images/muffins.jpg"),
        ("PASTRIES", "~/images/pasteries.jpg"),
        ("TARTS", "~/images/tarts.jpg"),
        ("BREAD", "~/images/breads.jpg")
    };
}

<div class="container mt-5">
    <div class="row justify-content-center">
        @foreach (var item in items)
        {
            <div class="col-md-3 m-3">
                <div class="card shadow-sm">
                    <img src="@Url.Content(item.ImgUrl)" class="card-img-top" alt="@item.Title" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Title</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>
