@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< Updated upstream
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
=======

    <main>
        <section class="row" aria-labelledby="Title">

            <center /><h1 id="Title" style="font-size:65px">
                <asp:Image ID="Logo" runat="server" ImageUrl="~/Images/FinalLogo.png" Width="141px" Height="128px" />

            WhiskAway
            </h1> <center />
            <p class="lead">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp WhiskAway showcases authenitcally handcrafted items.</p><br /><br />
        </section>

        <div class="row" style="background-color:peru">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle" Align="Left">

                <p>
                    <asp:HyperLink ID="hlinkPottery" runat="server" NavigateUrl="~/MyWorkPage.aspx"> <asp:Image ID="Ipot" runat="server" ImageUrl="~/Images/Main Pottery icon.jpg" Width="150px" Height="150px" /></asp:HyperLink>
                </p>
                <%--Linking the images of the categories to the MyWork page--%>
                <h3 style="font:small-caps">CAKES</h3>
            </section>
            <%--cite: Photo by Quang Nguyen Vinh: https://www.pexels.com/photo/woman-making-clay-pot-2166456/--%>
            <section class="col-md-4" aria-labelledby="librariesTitle" Align="Center">

                <p>
                    <asp:HyperLink ID="hlinkLeather" runat="server" NavigateUrl="~/MyWorkPage.aspx">  <asp:Image ID="Leather" runat="server" ImageUrl="~/Images/Main leather icon.jpg" Width="150px" Height="150px" /></asp:HyperLink>

                </p>
                <h3 style="font:small-caps">MUFFINS</h3>
            </section>
            <%-- cite: Photo by Kevin Menajang: https://www.pexels.com/photo/person-knitting-brown-leather-textile-982657/--%>
            <section class="col-md-4" aria-labelledby="hostingTitle" Align="Right">

                <p>
                    <asp:HyperLink ID="hlinkSculpture" runat="server" NavigateUrl="~/MyWorkPage.aspx">  <asp:Image ID="Sculpture" runat="server" ImageUrl="~/Images/Main sculpture icon.jpg" Width="150px" Height="150px" /></asp:HyperLink>
                </p>
                <h3 style="font:small-caps">Sculptures</h3>
            </section>
            <%-- cite:Photo by Tima Miroshnichenko: https://www.pexels.com/photo/person-making-a-clay-statue-6714294/--%>
        </div><br /><br />

        <div align="Middle">
            <br /><h4 style="font-size:180%"> Warm. Fresh. Homely.</h4><br /><br /><br />
            <p style="font-size: 150%;">
            Here at WhiskAway, we provide a platform for South Africa's best bakers to truly express their authenticity through their bakermanship.<br />
                We aim to showcase the wondrous works of our local talent.
            </p><br /><br /><br /><br />
        </div>
       
    </main>

 
>>>>>>> Stashed changes
