@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WhiskAway</h1>
    <i><p>Where divine delights, whisk your taste buds away.</p></i>
</div>

@{
    var items = new List<(string Title, string ImgUrl, string Action)>
    {
        ("CAKES", "~/images/cakes.jpg", "Cakes"),
        ("MUFFINS", "~/images/muffins.jpg", "Muffins"),
        ("PASTRIES", "~/images/pasteries.jpg", "Pastries"),
        ("TARTS", "~/images/tarts.jpg", "Tarts"),
        ("BREAD", "~/images/breads.jpg", "Bread")
    };
}

<div class="container mt-5">
    <div class="row justify-content-center">
        @foreach (var item in items)
        {
            <div class="col-md-3 m-3">
                <a asp-controller="Product" asp-action="@item.Action" class="text-decoration-none text-dark">
                    <div class="card border-0 shadow-sm h-100">
                        <img src="@Url.Content(item.ImgUrl)" class="card-img-top" alt="@item.Title" style="height: 200px; object-fit: cover;" />
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Title</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
</style>
